Source: xboxdrv
Section: utils
Priority: extra
Maintainer: Ingo Ruhnke <grumbel@gmx.de>
Build-Depends: scons, pkg-config, libusb-1.0-0-dev, libudev-dev, 
 libx11-dev, x11proto-core-dev, libdbus-1-dev, libglib2.0-dev,
 libdbus-glib-1-dev, scons, g++-4.6, libboost-dev, 
 x11proto-core-dev, 
 debhelper (>= 7.4.15ubuntu1)
Standards-Version: 3.8.4
Homepage: http://pingus.seul.org/~grumbel/xboxdrv/

Package: xboxdrv
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-dbus, python
Description: A Xbox360 gamepad driver for the userspace
 This is a Xbox/Xbox360 gamepad driver for Linux that works in
 userspace. It is an alternative to the xpad kernel driver and has
 support for Xbox1 gamepads, Xbox360 USB gamepads and Xbox360 wireless
 gamepads, both first and third party. The Xbox360 guitar and some
 Xbox1 dancemats might work too. The Xbox 360 racing wheel is not
 supported, but shouldn't be to hard to add if somebody is interested.
 .
 Note that using a wireless Xbox360 controller with the Play&Charge USB
 cable will not work. The cable is for recharging only and does not
 transmit any input data over the wire. To use the wireless Xbox360
 controller you need the wireless receiver.
 .
 In addition to all the Xbox related stuff, the driver also has native
 support for the Thrustmaster Dual Power 3 gamepad, including rumble
 and can be used on top of the regular Linux joystick driver.
 .
 Unlike the stock xpad kernel driver, xboxdrv provides a wide varity of
 configuration options, it allows you to simulate keyboard and mouse
 events, remap buttons and axes, apply autofire, invert axis, tweak
 axis sensitivity, emulate throttle and rudder controls and send macros. 
